<ion-header>
  <ion-toolbar>
    <ion-title>Gönderiler</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-card *ngFor="let post of postService.posts">
      <ion-card-header>
        <ion-card-subtitle *ngIf="post.category">{{post.category.name}}</ion-card-subtitle>
        <ion-card-title *ngIf="post.user">{{post.user.username}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{post.content}}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
