<ion-header>
  <ion-toolbar>
    <ion-title>Gönderiler</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-card *ngFor="let post of postService.posts">
      <ion-card-header>
        <ion-card-subtitle *ngIf="post.category">{{post.category.name}}</ion-card-subtitle>
        <ion-card-title *ngIf="post.user">{{post.user.username}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{post.content}}</p>
        <p><span class="text-primary">{{post.commentCount}}</span> Toplam Yorum</p>
        <p><span class="text-info">{{post.likes}}</span> Toplam Beğeni</p>
        <p style="display: flex;justify-content: space-around;">
          <ion-buttons slot="start">
            <ion-button (click)="editPost()">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="deletePost()">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-buttons>
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
