<ion-header>
  <ion-toolbar>
    <ion-title>Yorum Düzenle</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="start" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <form [formGroup]="saveForm">
      <ion-item>
        <ion-label position="floating">Yorum</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </form>
    <ion-button [disabled]="!saveForm.valid" (click)="edit()" expand="block" fill="clear" shape="round">
      Kaydet
    </ion-button>
  </div>
</ion-content>
