<ion-header>
  <ion-toolbar>
    <ion-title>Tüm Kullanıcılar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-card *ngFor="let user of users">
      <ion-card-header>
        <ion-card-subtitle>{{user.id}}</ion-card-subtitle>
        <ion-card-title>
          {{user.username}}
          <br>
          {{user.email}}
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Admin: <ion-label *ngIf="user.isAdmin" color="success">Evet</ion-label>
        <ion-label *ngIf="!user.isAdmin" color="danger">Hayır</ion-label>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
