<ion-header>
  <ion-toolbar>
    <ion-title>Tüm Kullanıcılar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-card *ngFor="let user of users">
      <ion-card-header>
        <ion-card-subtitle>{{user.id}}</ion-card-subtitle>
        <ion-card-title>
          {{user.username}}
          <br>
          {{user.email}}
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
