<ion-header>
  <ion-toolbar>
    <ion-title>Yorumlar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-card class="commentCard" id="post{{comment.id}}" *ngFor="let comment of comments">
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title *ngIf="comment.user">{{comment.user.username}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{comment.content}}</p>
        <p style="display: flex;justify-content: space-around;align-items: center;">
          <ion-buttons slot="start">
            <ion-button color="tertiary" (click)="goPost(comment.postId)">
              <ion-icon name="send-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="editComment(comment)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button color="danger" (click)="deleteComment(comment)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-buttons>
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
