<ion-header>
  <ion-toolbar>
    <ion-title>TatlıYorum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="loginContainer">
    <h2 class="ms-1">Giriş Yap</h2>
    <form [formGroup]="loginForm">
      <ion-item>
        <ion-label position="floating">Kullanıcı adı veya eposta</ion-label>
        <ion-input [(ngModel)]="email" formControlName="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Şifre</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
    </form>
    <ion-button [disabled]="!isLoad" [disabled]="!loginForm.valid" (click)="login()" expand="block" fill="clear" shape="round">
      <span *ngIf="!isLoad" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp;
      <span *ngIf="isLoad">Giriş Yap</span>
      <span *ngIf="!isLoad">Giriş Yapılıyor...</span>
    </ion-button>
    <br>
    <span>Hesabınız yok mu? <a routerLink="/register" style="text-decoration: none;">Kayıt olun</a></span>
  </div>
</ion-content>
