@keyframes animation {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

#container {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}

.postcard {
  display: flex;
  justify-content: start;
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: all .5s;
}
