<ion-header>
  <ion-toolbar>
    <ion-title>Ana Sayfa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="postcard" *ngFor="let post of posts" [style]="getColorStyles(post)" style="padding:10px">
    <div class="topsection">
      <span><ion-icon name="person-outline"></ion-icon></span>&nbsp;
      <span *ngIf="!post.secretUser">{{post.userId}}</span>
      <span *ngIf="post.secretUser">İsimsiz kullanıcı</span>
      <span>
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </span>
    </div>
    <div>
      {{post.content}}
    </div>
  </div>
</ion-content>
