<ion-header>
  <ion-toolbar>
    <ion-title>Ana Sayfa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <div id="postcard{{post.id}}" class="postcard" *ngFor="let post of posts" [style]="getColorStyles(post)"
      style="padding:10px">
      <div class="left">
        <span>
          <ion-icon name="chevron-up-outline"></ion-icon>
        </span>
        <span>0</span>
        <span>
          <ion-icon name="chevron-down-outline"></ion-icon>
        </span>
      </div>
      <div class="right">
        <div class="topsection">
          <span>
            <ion-icon name="person-outline"></ion-icon>
          </span>&nbsp;
          <span *ngIf="!post.secretUser">{{post.userId}}</span>
          <span *ngIf="post.secretUser">İsimsiz kullanıcı</span>
          <span>
            <ion-icon (click)="showSettings(post)" name="ellipsis-vertical-outline"></ion-icon>
            <ul id="postsetting{{post.id}}" class="list-group postsetting">
              <li class="list-group-item text-warning">
                <ion-icon name="alert-outline"></ion-icon> Şikayet Et
              </li>
              <li *ngIf="post.userId == currentUser.id" (click)="deletePost(post)" class="list-group-item text-danger">
                <ion-icon name="trash-outline"></ion-icon> Sil
              </li>
            </ul>
          </span>
        </div>
        <div>
          {{post.content}}
        </div>
      </div>
    </div>
  </div>
</ion-content>
