@keyframes animation {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

#container {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}

#postSortSettings {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 0 10px 0 10px;
}
#postSortSettings > ion-button {
  font-size: small;
}
