@keyframes animation {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}


.topsection {
  display: flex;
  justify-content: start;
}

.topsection span:last-child {
  margin-left: auto;
}
