<ion-header>
  <ion-toolbar>
    <ion-title>
      <div id="title">
        <span>Ana Sayfa</span>
        <span>{{currentDate}}</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="" pullingText="" refreshingSpinner="circles" refreshingText="Yükleniyor...">
      </ion-refresher-content>
    </ion-refresher>
    <div style="width: 100%;height: 50px;padding: 0 10px 0 10px;" class="text-center">
      <i id="refreshtext">Yenilemek için <span>aşağı</span> kaydırınız.
        <div id="downarrow" style="display: none;">
          <ion-icon name="chevron-down-outline"></ion-icon>
        </div>
      </i>
    </div>
    <div id="postSortSettings">
      <ion-button id="sortByLikeBtn" (click)="sortByLike()" fill="clear" shape="round">
        <ion-icon name="heart-outline"></ion-icon>&nbsp;Beğeniye göre sırala
      </ion-button>
      <ion-button id="sortByDateBtn" (click)="sortByDate()" fill="clear" shape="round">
        <ion-icon name="calendar-outline"></ion-icon>&nbsp;Güncelliğe göre sırala
      </ion-button>
    </div>
    <app-post-card [post]="post" *ngFor="let post of postService.posts"></app-post-card>
  </div>
</ion-content>
