<ion-header>
  <ion-toolbar>
    <ion-title>Gönderi Beğenileri</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="getPostLikes()">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-card id="postlike{{postLike.id}}" class="postlikecard" *ngFor="let postLike of postLikes">
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>PostId:
          <span class="text-primary">{{postLike.postId}}</span>
          <ion-button (click)="goPost(postLike)" fill="clear" shape="round">
            Gönderiye Git
          </ion-button>
        </p>
        <p>UserId: <span class="text-primary">{{postLike.userId}}</span></p>
        <br>
        <p style="display: flex;justify-content: space-around;align-items: center;">
          <ion-buttons slot="start">
            <ion-button color="danger" (click)="deletePostLike(postLike)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-buttons>
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
