<ion-header>
  <ion-toolbar>
    <ion-title>Admin Paneli</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-list>
      <ion-item>
        <ion-label>Gönderi</ion-label>
        <ion-buttons slot="end">
          <ion-button routerLink="/admin/posts">
            <ion-icon slot="end" name="list-outline"></ion-icon>
            Listele
          </ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item>
        <ion-label>Yorum</ion-label>
        <ion-buttons slot="end">
          <ion-button routerLink="/admin/comments">
            <ion-icon slot="end" name="list-outline"></ion-icon>
            Listele
          </ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item>
        <ion-label>Şikayet</ion-label>
        <ion-buttons slot="end">
          <ion-button routerLink="/admin/complaints">
            <ion-icon slot="end" name="list-outline"></ion-icon>
            Listele
          </ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item>
        <ion-label>Kategori</ion-label>
        <ion-buttons slot="end">
          <ion-button routerLink="/admin/categories">
            <ion-icon slot="end" name="list-outline"></ion-icon>
            Listele
          </ion-button>
          <ion-button routerLink="/admin/category-add" color="tertiary">
            <ion-icon slot="end" name="add"></ion-icon>
            Ekle
          </ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item>
        <ion-label>Gönderi Beğeni</ion-label>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon slot="end" name="list-outline"></ion-icon>
            Listele
          </ion-button>
          <ion-button color="tertiary">
            <ion-icon slot="end" name="add"></ion-icon>
            Ekle
          </ion-button>
        </ion-buttons>
      </ion-item>
      <ion-item>
        <ion-label>Kullanıcı</ion-label>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon slot="end" name="list-outline"></ion-icon>
            Listele
          </ion-button>
          <ion-button color="tertiary">
            <ion-icon slot="end" name="add"></ion-icon>
            Ekle
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
