<ion-header>
  <ion-toolbar>
    <ion-title>Kategoriler</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="getCategories()">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-card class="categoryCard" id="category{{category.id}}" *ngFor="let category of categories">
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>{{category.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p></p>
        <p style="display: flex;justify-content: space-around;align-items: center;">
          <ion-buttons slot="start">
            <ion-button (click)="editCategory(category)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button color="danger" (click)="deleteCategory(category)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-buttons>
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
