<ion-header>
  <ion-toolbar>
    <ion-title>Şikayetler</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="getComplaints()">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-list>
      <ion-item id="complaint{{complaint.id}}" *ngFor="let complaint of complaints">
        <ion-label>{{complaint.content}}</ion-label>
        <ion-buttons slot="end">
          <ion-button color="primary" (click)="goPost(complaint)" expand="block" fill="clear" shape="round">
            <ion-icon name="send-outline"></ion-icon>
          </ion-button>
          <ion-button color="danger" (click)="deleteComplaint(complaint)">
            <ion-icon slot="end" name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
