<ion-header>
  <ion-toolbar>
    <ion-title>Kategori Ekle</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <form [formGroup]="saveForm">
      <ion-item>
        <ion-label position="floating">Kategori İsmi</ion-label>
        <ion-input formControlName="name"></ion-input>
      </ion-item>
    </form>
    <ion-button [disabled]="!saveForm.valid" (click)="add()" expand="block">
      Ekle
    </ion-button>
  </div>
</ion-content>
