ion-content {
  --background: #D1F2EB;
}

#container {
  padding: 10px;
  border-radius: 10px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border: 1px solid #D5DBDB;
  margin-top: 10vh;
  background-color: #fff;
}
