<ion-header>
  <ion-toolbar>
    <ion-title>Kullanıcı Güncelle</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <form [formGroup]="form">
      <ion-item>
        <ion-label position="floating">Kullanıcı Adı</ion-label>
        <ion-input formControlName="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Eposta Adresi</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Admin</ion-label>
        <ion-checkbox formControlName="isAdmin" color="primary"></ion-checkbox>
      </ion-item>
    </form>
    <ion-button [disabled]="!form.valid" (click)="edit()" expand="block">
      Kaydet
    </ion-button>
  </div>
</ion-content>
