<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Yorumlar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <span id="postinfobox">
      <div>{{post.content}}</div>
      <div>
        <span class="text-danger">
          <ion-icon name="heart-outline"></ion-icon>&nbsp;{{post.likes}}
        </span>
        &nbsp;
        <span class="text-primary">
          <ion-icon name="chatbubble-outline"></ion-icon>&nbsp;{{comments ? comments.length : 0}}
        </span>
      </div>
    </span>
    <span id="commentsbox">
      <div class="alert alert-warning p-3 text-center" *ngIf="comments?.length == 0">
        Henüz yorum yok.
      </div>
      <div class="commentcard" *ngFor="let comment of comments">
        <div *ngIf="comment.userId == currentUser.id" class="text-danger" style="position: absolute;right: 4%;top: 0;">
          <ion-icon (click)="deleteComment(comment)" name="trash-outline"></ion-icon>
        </div>
        <div style="position: absolute;right: 0;bottom: 0;padding:5px;">
          <span style="font-size: small;">{{getDate(comment.createdDate)}}</span>
        </div>
        <div class="commentcardtop">
          <span>
            <ion-icon name="person-outline"></ion-icon>
          </span>
          <span>{{comment.username}}</span>
        </div>
        <div>
          {{comment.content}}
        </div>
      </div>
    </span>
    <span id="docommentbox" style="display:flex;justify-content: start;align-items: center;">
      <ion-input id="commentinput" style="max-width: 75%;"></ion-input>
      <ion-button style="max-width: 25%;" (click)="doComment()" fill="clear" shape="round">
        <ion-icon name="send-outline"></ion-icon>
      </ion-button>
    </span>
  </div>
</ion-content>
