* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: flex;
  flex-direction: column;
}

#container span {
  padding: 10px;
}

#container span:first-child {
  width: 100%;
  // background-color: red;
  height: 25vh;
}

#container span:nth-child(2) {
  width: 100%;
  // background-color: blue;
  height: 60vh;
}

#container span:last-child {
  width: 100%;
  // background-color: green;
  height: 8vh;
}


#postinfobox {
  border-bottom: 3px solid #F0F3F4;
}

#commentsbox {
  border-bottom: 3px solid #F0F3F4;
}

.commentcard {
  position: relative;
  padding: 5px;
}
.commentcardtop{
  display: block;
  width: 100%;
  position: relative;
  border-bottom: 1px solid #F0F3F4;
  margin-bottom: 5px;
  padding: 5px;
}
