ion-content{
  --background:#34495E;
}

#registerContainer{
  padding:10px;
  background: #fff;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: auto;
  margin-top: 10vh;
  border-radius: 11px;
}
