<ion-header>
  <ion-toolbar>
    <ion-title>TatlıYorum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="registerContainer">
    <h2 class="ms-1">Kayıt Ol</h2>
    <form [formGroup]="registerForm">
      <ion-item>
        <ion-label position="floating">Kullanıcı adı</ion-label>
        <ion-input formControlName="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Eposta</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Şifre</ion-label>
        <ion-input formControlName="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Şifre Tekrar</ion-label>
        <ion-input formControlName="rePassword"></ion-input>
        <small class="text-danger" *ngIf="()"></small>
      </ion-item>
    </form>
    <ion-button (click)="register()" expand="block" fill="clear" shape="round">
      Kayıt Ol
    </ion-button>
    <br>
    <span>Hesabın zaten var mı? <a routerLink="/login" style="text-decoration: none;">Giriş yap</a></span>
  </div>
</ion-content>
