<ion-header>
  <ion-toolbar>
    <ion-title>Gönderi Paylaş</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <form [formGroup]="saveForm">
      <input type="hidden" formControlName="userId" [(ngModel)]="user.id">
      <ion-item>
        <ion-label position="floating">İçerik</ion-label>
        <ion-input formControlName="content"></ion-input>
      </ion-item>
    </form>
    <ion-button (click)="add()" expand="block" fill="clear" shape="round">
      Paylaş
    </ion-button>
  </div>
</ion-content>
