<ion-header>
  <ion-toolbar>
    <ion-title>Gönderi Paylaş</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <form [formGroup]="saveForm">
      <input *ngIf="user" type="hidden" formControlName="userId" [(ngModel)]="user.id">
      <ion-item>
        <ion-label position="floating">İçerik</ion-label>
        <ion-input [(ngModel)]="content" formControlName="content"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Kategori</ion-label>
        <ion-select formControlName="categoryId" placeholder="Kategori Seçiniz">
          <ion-select-option *ngFor="let category of categories" [value]="category.id">{{category.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Animasyon</ion-label>
        <ion-checkbox formControlName="isAnimation"></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>İsmimi Gizle</ion-label>
        <ion-checkbox formControlName="secretUser"></ion-checkbox>
      </ion-item>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Arkaplan Rengi</ion-label>
            <ion-input [(colorPicker)]="choosedBackgroundColor" [(ngModel)]="choosedBackgroundColor" formControlName="backgroundColor"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Yazı Rengi</ion-label>
            <ion-input cpPositionOffset="-60%" [(colorPicker)]="choosedTextColor" [(ngModel)]="choosedTextColor" formControlName="textColor"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </form>
    <ion-button (click)="add()" expand="block" fill="clear" shape="round">
      Paylaş
    </ion-button>
    <div [style]="getColorStyles()" style="padding:10px">
      <div>
        <ion-icon name="person-outline"></ion-icon>&nbsp;<span *ngIf="user">{{user.username}}</span>
      </div>
      <div>
        {{content}}
      </div>
    </div>
  </div>
</ion-content>
