@keyframes animation {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

ion-content {
  --background: #F9EBEA;
}

#container {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: auto;
  margin-top: 5vh;
}
